body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    /* same as above 
    font: normal 16px arial, helvetica, sans-serif;
    */
}

h1 {
    text-align: center;
    background-color: #ffcc00;
    margin-top: 0px;
}
.red {
    color: red; 
}

.blue {
    color:blue; 
}

a {
    background: black;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 10px;
    color: #555555;
    font-size: 16px;
    display: inline-block;
}

a:active {
    position: relative;
    top: 1px;
}
